@model BugTracker.Models.ViewModels.AssignDeveloperViewModel

@{
    ViewData["Title"] = "Assign Developer";
}
<div class="container">

    <div class="row justify-content-center mt-5">
        <div class="col-10">
            <div class="card m-1 p-2">
                <div class="card-header">
                    <h1>@Model.Ticket.Title</h1>
                    <span> @Model.Ticket.Description</span>
                    <br />
                    <span class="text-muted text-uppercase text-sm">Project: </span><a style="font-size: small" asp-action="Details" asp-controller="Projects" asp-route-id="@Model.Ticket.ProjectId">@Model.Ticket.Project.Name</a>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="AssignDeveloper" asp-controller="Tickets">
                        <input asp-for="Ticket.Id" hidden="" />
                        <div calss="form-group">
                            <label class="control-label">Select Developer</label>
                            <div class="form-group">
                                <select class="form-control" required asp-for="DeveloperId" asp-items="@Model.Developers">
                                    <option></option>
                                </select>
                            </div>

                        </div>
                        <div class="form-group mt-3">
                            <input type="submit" value="Assign" class="btn btn-outline-primary" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-10">
            <a class="btn btn-outline-default mt-2" asp-action="UnassignedTickets" asp-controller="Tickets">Unassigned Tickets</a>
        </div>
    </div>

</div>