@using BugTracker.Models.Enums
@using BugTracker.Services.Interfaces
@model IEnumerable<BugTracker.Models.Project>
@inject IBTImageService ImageService

@{
    ViewData["Title"] = "My Projects";
}

<h1>My Projects</h1>

@if (User.IsInRole(nameof(Roles.Admin)) || User.IsInRole(nameof(Roles.ProjectManager)))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}


@if (!Model.Any())
{
    <div class="row justify-content-center mt-5">
        <div class="col-8 alert alert-danger text-center" role="alert">
            <strong>No projects found!</strong> Please contact the Admin or Project Manager to be assigned.
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">My Projects</h3>
                </div>
                <!-- Light table -->
                <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                @if (User.IsInRole(nameof(Roles.Admin)))
                                {
                                    <th scope="col" class="sort" data-sort="name">Company</th>
                                }
                                <th scope="col" class="sort" data-sort="budget">Project</th>
                                <th scope="col" class="sort" data-sort="status">Projects Description</th>
                                <th scope="col">Start Date</th>
                                <th scope="col">End Date</th>
                                <th scope="col">Priority</th>
                                <th scope="col">Users</th>
                                <th scope="col" class="sort" data-sort="completion">Completion</th>
                                @if (User.IsInRole(nameof(Roles.Admin)))
                                {
                                    <th scope="col"></th>
                                }
                            </tr>
                        </thead>
                        <tbody class="list">
                            @foreach (var project in Model)
                            {
                                <tr>
                                    @if (User.IsInRole(nameof(Roles.Admin)))
                                    {
                                        <td>
                                            <a asp-action="Details" asp-controller="Companies" asp-route-id="@project.CompanyId"></a>
                                            @project.Company.Name
                                        </td>
                                    }
                                    <th scope="row">
                                        <div class="media align-items-center">
                                            <a asp-action="Details" asp-controller="Projects" asp-route-id="@project.Id" class="avatar rounded-circle mr-3">
                                                @if (project.ImageFileData is not null)
                                                {
                                                    <img alt="Image placeholder" src="@ImageService.DecodeImage(project.ImageFileData, project.ImageFileContentType)">
                                                }
                                                else
                                                {
                                                    <img alt="Image placeholder" class="img-fluid" src="/img/project-icon.png">
                                                }
                                            </a>
                                            <div class="media-body">
                                                <a asp-action="Details" asp-controller="Projects" asp-route-id="@project.Id"><span class="name mb-0 text-sm">@project.Name</span></a>
                                            </div>
                                        </div>
                                    </th>
                                    <td>
                                        @project.Description.Substring(0, 75)...
                                    </td>
                                    <td class="date">
                                        @project.StartDate.ToString("dd/MM/yyyy")
                                    </td>
                                    <td class="date">
                                        @project.EndDate.ToString("dd/MM/yyyy")
                                    </td>
                                    <td>
                                        @if (@project.ProjectPriority?.Name is null)
                                        {
                                            <span class="text-muted">Priority Not Set</span>
                                        }
                                        @if (@project.ProjectPriority?.Name == "Low")
                                        {
                                            <span class="badge badge-dot mr-4">
                                                <i class="bg-success"></i>
                                                <span class="status">@project.ProjectPriority?.Name</span>
                                            </span>
                                        }
                                        @if (@project.ProjectPriority?.Name == "Medium")
                                        {
                                            <span class="badge badge-dot mr-4">
                                                <i class="bg-info"></i>
                                                <span class="status">@project.ProjectPriority?.Name</span>
                                            </span>
                                        }
                                        @if (@project.ProjectPriority?.Name == "High")
                                        {
                                            <span class="badge badge-dot mr-4">
                                                <i class="bg-warning"></i>
                                                <span class="status">@project.ProjectPriority?.Name</span>
                                            </span>
                                        }
                                        @if (@project.ProjectPriority?.Name == "Urgent")
                                        {
                                            <span class="badge badge-dot mr-4">
                                                <i class="bg-danger"></i>
                                                <span class="status">@project.ProjectPriority?.Name</span>
                                            </span>
                                        }
                                    </td>
                                    <td>
                                        <div class="avatar-group">
                                            @foreach (var member in project.Members)
                                            {
                                                <a href="#" class="avatar avatar-sm rounded-circle" data-toggle="tooltip" data-original-title="@member.FullName">
                                                    @if (member.AvatarFileData is not null)
                                                    {
                                                        <img alt="Image placeholder" src="@ImageService.DecodeImage(member.AvatarFileData, member.AvatarFileContentType)">
                                                    }
                                                    else
                                                    {
                                                        <img alt="Image placeholder" src="/img/brand/defaultUserImage.png">
                                                    }
                                                </a>
                                            }
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <span class="completion mr-2">60%</span>
                                            <div>
                                                <div class="progress">
                                                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    @if (User.IsInRole(nameof(Roles.Admin)))
                                    {
                                        <td class="text-right">
                                            <div class="dropdown">
                                                <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    <i class="fas fa-ellipsis-v"></i>
                                                </a>
                                                <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                                                    <a class="dropdown-item" asp-action="Edit" asp-controller="Projects" asp-route-id="@project.Id">Edit</a>
                                                    <a class="dropdown-item" asp-action="Archive" asp-controller="Projects" asp-route-id="@project.Id">Archive</a>
                                                </div>
                                            </div>
                                        </td>
                                    }
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
                <!-- Card footer -->
                @*            <div class="card-footer py-4">
            <nav aria-label="...">
            <ul class="pagination justify-content-end mb-0">
            <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">
            <i class="fas fa-angle-left"></i>
            <span class="sr-only">Previous</span>
            </a>
            </li>
            <li class="page-item active">
            <a class="page-link" href="#">1</a>
            </li>
            <li class="page-item">
            <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
            </li>
            <li class="page-item">
            <a class="page-link" href="#">3</a>
            </li>
            <li class="page-item">
            <a class="page-link" href="#">
            <i class="fas fa-angle-right"></i>
            <span class="sr-only">Next</span>
            </a>
            </li>
            </ul>
            </nav>
            </div>
            *@
            </div>
        </div>
    </div>

}


